main{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}
/* Estilo para la fila de la izquierda*/
.row1 {
  width: 25%; 
  height: 100vh;             
  display: flex;             /* para alinear elementos */
  align-items: start;       /* centra verticalmente */
  justify-content: flex-start; /* alinea a la izquierda */
  padding: 10px;
  background-color: #bb3c3c; /* opcional, para distinguir */
}

/* Estilo para el contenedor con id leccion1 */
#leccion1 {
  display: flex;              /* para que imagen y texto estén en fila */
  align-items: center;        /* centrado vertical */
  gap: 20px;                  /* espacio entre imagen y texto */
  background-color: aliceblue;
  width: 100%;
}

#leccion1 img{
    height:120px;
}

#texto_derecha h1,h2{
    border: 0px;
    margin: 0px;
}

.row2{
    width: 100%;
    height: 100vh;
    align-content: start;
    text-align: center;
    padding: 10px;
    background-color: #883cbb; /* opcional, para distinguir */
}
