<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/static/css/leccion.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/script.js" defer></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leccion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Lecciones</title>
</head>
<body>
    <header class="main-header">
        <div class="header-left">SIGNAPP</div>
        <nav class="header-right">
            <a href="#">Inicio</a>
            <a href="#">Sobre nosotros</a>
            <a href="#">Preguntas Frecuentes</a>
        </nav>
    </header>
    <!-- CONTENEDOR PRINCIPAL: Incluye Sidebar y Contenido -->
    <div class="main-container">
        <!-- SIDEBAR -->
        <nav id="sidebar">
            <ul>
                <li class="sidebar-header-row">
                    <h2 class="sidebar-header-title">LECCIONES</h2>
                    <button onclick="toggleSidebar()" id="toggle-btn">
                        <img src="{{ url_for('static', filename='img/cerrar_blanco.png') }}" alt="Toggle Sidebar">
                    </button>
                </li>
                <li class="active">
                    <a href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='img/leccion1.png') }}" alt="Lección 1">
                        <div>
                            <span>Lección 1</span>
                            <h2 class="sidebar-link-title">Relación Social</h2>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="lecciones.html">
                        <img src="/static/img/leccion1.png" alt="Lección 1">
                        <div>
                            <span>Lección 2</span>
                            <h2 class="sidebar-link-title">Interrogativos</h2>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <div class="row2"><!-- esta clase para alinearlo centro vertical y como el 70% de la pagina -->
            <div class="container-leccion">
                <h1>¡Tu turno!</h1>
                <p>Ubica la cámara a una distancia aproximada de 1 metro. Es importante que el fondo sea lo más uniforme<br>
                    posible y sin muchos elementos que puedan distraer o interferir con la detección también<br>
                    procura estar en un espacio con buena iluminación. ¡Buena suerte!<br>
                </p>
            <div class="container-video-cam">
                <div id="show-vid">
                    <h3>Vídeo de referencia:</h3>
                    <video controls loop width="400" height="280">
                        <source src="{{ url_for('static', filename='videos/Comprendo.mp4') }}" type="video/mp4">
                        Tu navegador no soporta este video.
                    </video>
                    <p>Vídeo disponible en: <a href="https://youtu.be/_3MkbS1hddc?t=118" target="_blank">https://youtu.be/_3MkbS1hddc?t=118</a></p>
                </div>
                <div id="show-cam">
                    <!-- <<img src="/static/img/leccion1.png" width="400" height="280"> -->
                    <img src="{{ url_for('video_feed_comprendo') }}" alt="Video Feed de la Cámara" width="400" height="280">
                </div>
                </div>
                    <button id="boton-next">Siguiente</button><!-- boton no va siempre, puede que sea mas extenso es la introduccion de la leccion-->
                    <!-- menu desplegable-->
                </div>    
            </div>
    </main>
    <!-- Contenido principal va aquí -->
</body>
</html>