<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/leccion.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/script.js" defer></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/leccion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <title>Lecciones</title>
</head>
<body>
    <header class="main-header">
        <div class="header-left">SIGNAPP</div>
        <nav class="header-right">
            <a href="#">Inicio</a>
            <a href="#">Sobre nosotros</a>
            <a href="#">Preguntas Frecuentes</a>
        </nav>
    </header>
    <nav id="sidebar"><!-- esta clase para alinearlo centro vertical y como el 20% de la pagina sidebar -->
        <ul>
            <li>
                <button onclick=toggleSidebar() id="toggle-btn">
                    <img src="/static/img/cerrar_blanco.png">
                    <!-- LAS FLECHAS PARA COMPRIMIR EL SIDEBAR-->
                </button>
                <h2>LECCIONES</h2>
            </li>
            <li class="active">
                <a href="lecciones.html">
                    <!-- <img src="{{ url_for ('static', filename='img/leccion1.png') }}">-->
                    <img src="/static/img/leccion1.png">
                    <div>
                        <span>Lección 1</span>
                        <h2>Relación Social</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="lecciones.html">
                    <span>Lección 2</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="row2"><!-- esta clase para alinearlo centro vertical y como el 70% de la pagina -->
            <div class="container-leccion">
                <h1>¡Tu turno!</h1>
                <p>"Hola" es un saludo básico y universal que usamos para iniciar una conversación de forma<br>
                    amigable. En Lengua de Señas Panameñas (LSP), se representa con un gesto sencillo de la<br>
                    mano que transmite cortesía y apertura hacia la otra persona.<br>
                </p>
            <div class="container-video-cam">
                <div id="show-vid">
                    <video controls loop src="/static/videos/Hola.mp4" width="400" height="280"></video>
                </div>
                <div id="show-cam">
                    <img src="/static/img/leccion1.png" width="400" height="280">
                    <!-- <img src="{{ url_for('video_feed') }}" alt="Video Feed de la Cámara" width="400" height="280"> -->
                </div>
                </div>
                    <button id="boton-next">Siguiente</button><!-- boton no va siempre, puede que sea mas extenso es la introduccion de la leccion-->
                    <!-- menu desplegable-->
                </div>    
            </div>
    </main>
    <!-- Contenido principal va aquí -->
</body>
</html>